# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Project Data
data/
*.log

